<div class="container">
  <h1> About </h1>
</div>
<hr>
<div class="about-container">

    <h3> Abaut us</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, aperiam consequuntur, cupiditate ex laudantium
      magni maxime natus nemo nulla omnis similique tempora vitae, voluptates. Adipisci consequuntur dignissimos eius
      fugiat sunt!</p>
    <h3> How we work</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, aperiam consequuntur, cupiditate ex laudantium
      magni maxime natus nemo nulla omnis similique tempora vitae, voluptates. Adipisci consequuntur dignissimos eius
      fugiat sunt!</p>
    <h3> Contact us</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, aperiam consequuntur, cupiditate ex laudantium
      magni maxime natus nemo nulla omnis similique tempora vitae, voluptates. Adipisci consequuntur dignissimos eius
      fugiat sunt!</p>
    <h3> Privacy policy</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, aperiam consequuntur, cupiditate ex laudantium
      magni maxime natus nemo nulla omnis similique tempora vitae, voluptates. Adipisci consequuntur dignissimos eius
      fugiat sunt!</p>
    <p></p>
    <p></p>
    <div class="col-md-1">  </div>
</div>
