<div class="container row">
  <h1>
    Cart
  </h1>

  <br>
  <hr>
  <div class="carts-body-container row">
    <div class="cart-product-container row " *ngFor="let item of cartProducts; let i=index">
      <div class="col-md-6">
        <img class="custom-image-style" [src]="item.img">
      </div>
      <div clas="cart-product-description col-md-6">
        <div><p>{{item.title}}</p></div>
        <div><p><strong>{{item.price}}</strong></p></div>
      </div>
      <div clas="cart-product-container col-md-2">
        <input (change)="updateTotoal()" [(ngModel)]="item.quantity" type="number" class="form-control">
      </div>
      <div class="col-md-2">
  <a class="text-danger" (click)="removeItem(i)">x</a>
      </div>
    </div>
  </div>
</div>
<hr>

<div  class=" container row" *ngIf="!cartProducts">
  <p>
    Your basket is empty !
  </p>
</div>
<div class="bill-container">
  <div class="col-md-4 offset-md-2">
    <button class="btn btn-success btn-lg pull-left" (click)="payBill()">Pay Bill</button>
  </div>
  <div class="col-md-4">
    <span *ngIf="!cartProducts"><strong> $0 </strong></span>
    <span *ngIf="cartProducts.length"><strong> {{bill}}</strong></span>
  </div>
</div>
