.card{
  margin: 5px;
}
.dropdown-button{
display: block;
  margin: 5px;
}
.dropdown-list{
width: 250px;
}
.baket-dropdown-title{
  font-size: 20px;
  color: #333;
}
.inf-status-card{
  color: green;
  text-align: right;
}
.btn-dark{
  cursor: pointer;
}
