<div class="container">
  <div class="row">
    <h1> Home</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div id="carouselSalads" class="carousel salad-carousel-main slide" data-ride="carousel">

        <div class="carousel-inner">
          <div class="carousel-item active" data-interval="2000">
            <img class="img-fluid d-block " src="assets/salad1.jpg" alt="salad">
            <div class="carousel-caption   d-md-block ">
              <h3 class="salad-carusel-header"> spring salat </h3>
              <button type="button" class="btn btn-outline-dark" (click)="viewProduct()">View products</button>
            </div>
          </div>


          <div class="carousel-item" data-interval="2000">
            <img class=" d-block img-fluid" src="assets/salad2.jpg" alt="first slide">
            <div class="carousel-caption d-md-black">
              <h3 class="salad-carusel-header"> summer salad 2</h3>
              <button class=" btn-dark" (click)="viewProduct()"> view products</button>
            </div>
          </div>


          <div class="carousel-item " data-interval="2000">
            <img class="d-block  img-fluid" src="assets/salad3.jpg" alt="first slide">
            <div class="carousel-caption   d-md-black">
              <h3 class="salad-carusel-header"> autumn salad 3</h3>
              <button class=" btn-dark" (click)="viewProduct()"> view products</button>
            </div>
          </div>


          <div class="carousel-item " data-interval="2000">
            <img class="d-block img-fluid" src="assets/salad4.jpg" alt="first slide">
            <div class="carousel-caption  d-md-black">
              <h3 class="salad-carusel-header"> winter salad 4</h3>
              <button class=" btn-dark" (click)="viewProduct()"> view products</button>
            </div>
          </div>

        </div>

        <a class="carousel-control-prev" href="#carouselSalads" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselSalads" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>

      </div>
    </div>
  </div></div>
